@CHARSET "UTF-8";

body {
	font-family: Helvetica Neue, Helvetica, PingFang SC,
		\5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
}

#home {
	color: #606060;
	border-bottom: 3.5px solid #222;
	margin-bottom: 1.3px;
}

#log {
	color: #606060;
	border-bottom: 3.5px solid #222;
	margin-bottom: 1.3px;
}

#reg {
	color: #606060;
	border-bottom: 3.5px solid #222;
	margin-bottom: 1.3px;
}

#abo {
	color: #606060;
	border-bottom: 3.5px solid #222;
	margin-bottom: 1.3px;
}

#home:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-bottom: 3.5px solid #FFFFFF;
	transition: 1250ms ease all;
}

#log:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-bottom: 3.5px solid #FFFFFF;
	transition: 1250ms ease all;
}

#reg:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-bottom: 3.5px solid #FFFFFF;
	transition: 1250ms ease all;
}

#abo:hover {
	cursor: pointer;
	color: #FFFFFF;
	border-bottom: 3.5px solid #FFFFFF;
	transition: 1250ms ease all;
}

#fslogo {
	height: 25px;
	width: auto;
}

/*==========================end切換的标题====================================*/
#experiences {
	background-color: #e9e0e0;
}

.big-text-center {
	font-size: 150%;
	text-align: center;
}

.small-text-center {
	color: #595151;
	font-size: 60%;
	text-align: center;
}

#fspic {
	padding: 0 3% 0 3%;
}

/*==========================================================================*/
#explain {
	/* background:#666666 url("../../indexresource/img/explain_img.png") no-repeat top; */
	background-color: #888888;
}

.explains-field-title {
	color: #fff;
	margin: 0xp 10px;
	border: 1px solid #e2e2e2;
	padding: 14px 12px;
}

.explains-field-title span {
	font-size: 19px;
}

.explains-field-title p {
	font-size: 12px;
	line-height: 24px;
}
/*=======================================*/
.explains-field-title {
	border: 1px solid #e2e2e2;
	margin: 15px 1px;
}

.explains-field-title span {
	display: block;
	-webkit-padding-start: 2px;
	-webkit-padding-end: 2px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}

.explains-field-title p {
	font-size: 14px;
	line-height: 24px;
}
/*===============================================*/
footer .footer-above {
    background-color: #1f2738;
}

.foot-wrap {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #1f2738;
	border-top: 1px solid #2a3345;
}

.row-content>h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	margin: 40px 0 30px 53px;
}

.row-content>ul li {
	list-style-type: none;
	font-size: 13px;
	line-height: 24px;
}

.row-content>ul li>a {
	color: #878B91; &: hover { text-decoration : none;
	color: #c1ba62;
}

}
/*==================================================*/
.foot {
    padding: 16px 0;
	color: #7e8187;
	font-size: 12px;
	background: #1f2738;
	border-top: 1px solid #2a3345;
}