* {
	margin: 0;
    padding: 0;
}

#fslogo{
	height:25px;
    width: auto;
}



h1 {
    color: #ffffff;
    font-size: 34px;
    /* �ϡ����ҡ����¡����� */
    padding: 8.5% 0% 0% 2%;
}

.lead {
    letter-spacing: 3.4px;
    font-size: 14.5px;
    font-weight: bold;
    padding: 1.4% 0% 0% 3.3%;
}

button {
    position: absolute;
    left: 3.3%;
    /* �ϡ����ҡ����¡����� */
    margin: 2% 0% 0% 0%;
    background-color: #7d7d7d;
    border: 5px double #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    font-size: 25px;
    transition: all 0.5s ease;
    padding: 10px 65px;
    display: inline-block;
}

p#says {
    color: #ff0000;
    font-size: 16.5px;
    line-height: 30px;
    /* �ϡ����ҡ����¡����� */
    padding: 8% 0% 0% 3.3%;
    /* visibility: hidden; */
}

p#says span {
    color: #000;
    font-weight: bolder;
}

.foot-wrap {
    background-color: #2b3b4d;
    margin-top: 0px;
    padding-top: 0px;
}

.row-content > h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    margin: 40px 0 30px 53px;
}

.row-content > ul li {
    list-style-type: none;
    font-size: 13px;
    line-height: 24px;
}

.row-content > ul li > a {
    color: #878B91;

	&: hover {
	    text-decoration: none;
	    color: #c1ba62;
	}

}