@CHARSET "UTF-8";

body {
	color: #000;
	line-height: 1.75em;
	background: #f5f5d5;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
		"Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI",
		"Microsoft YaHei", sans-serif;
}

#logo img {
	height: 25px;
	width: auto;
}

.nav_bar{
	margin-bottom: 4.8px;
}

#drop-down-menu {
	padding-top: 12.5px;
}

#drop-down-menu ul li a {
	font-size: 14px;
    font-weight: 500;
}

#drop-down-menu a i {
	color: #a9a9a9;
}

ul#bs-dropdownmenu {
	visibility: hidden;
}

ul#bs-dropdownmenu li{
	border-bottom: 1px solid #383838;
}

#drop-down-menu:HOVER {
	cursor: pointer;
}

#ddm i {
	padding: 7.3px 8.5px;
	background-color: #222;
	border: 1.19px solid #222;
	border-radius:3px;
}

#ddm i:HOVER {
	color: #fff;
	background-color: #404040;
	border: 1.19px solid #000;
	border-radius:3px;
}

#u_name a span {
	color:#FF0000;
	font-size: 14px;
}
.dropdown-menu .divider {
	margin: 9px 15px;
}
/*=======================383838======484848=======================
	common styles
====================================================*/
h2 {
	font-size: 2.5em;
}

a {
	color: #424141;
    outline: none;
    font-size: 16px;
}

a:hover {
	color: #f4645f;
}

a:active, a:focus, a img {
	outline: none;
}

.btn {
	padding: 7px 14px;
	border-radius: 2px;
}

.btn-default {
	border: 1px solid #f4645f;
	background: #f4645f;
	color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-default:hover {
	border: 1px solid #303030;
	background: #303030;
	color: #ffffff;
}

.btn-default:focus {
	outline: none;
}

.btn-default[disabled] {
	border: 1px solid #303030;
	background: #303030;
	color: #ffffff;
}

::-moz-selection {
	color: #ffffff;
	background: #f4645f;
	text-shadow: none;
}

::selection {
	color: #ffffff;
	background: #f4645f;
	text-shadow: none;
}

/* post */
/*====================================================
	main post area
====================================================*/
.post {
	padding: 35px;
	background: #f5f5d5;
	margin-bottom: 35px;
	position: relative;
	overflow: hidden;
	border: 1px solid #cec0c0;
	border-radius: 4px;
}

.post .post-head {
	text-align: center;
}

.post .post-head .post-title {
	margin: 0;
	color: #000;
	font-size: 1.8em;
	text-indent: 2em;
	line-height: 1.2em;
	text-transform: none;
}

.post .post-head .post-title:HOVER{
	color: #f73b3b;
	cursor: pointer;
}

.post .post-head .post-meta {
	color: #959595;
	margin: 14px 0 0px;
}

.post .post-head .post-meta span {
	margin: 0px 7px;
	white-space: nowrap;
}

.post .post-head .post-meta span a{
	color: #333333;
	text-decoration: none;
}

.post .post-head .post-meta .author-names{
	color: #33FFFF;
}
.post .featured-media {
	margin-top: 30px;
	overflow: hidden;
}

.post .featured-media img {
	width: 100%;
}

.post .post-content {
	margin: 30px 0;
}

.post .post-footer {
	margin-top: 30px;
	border-top: 1px solid #d0cead;
	padding: 21px 0 0;
}

/* post content */
/*====================================================
  main post content
====================================================*/
.post-content {
	font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB",
		"Droid Sans Fallback", "Microsoft YaHei", sans-serif;
	color: #444443;
}

.post-content p {
	margin-top: 0;
	margin-bottom: 1.46em;
	font-size: 15px;
	text-indent: 2em;
}

/* pagination */
/*====================================================
	pagination
====================================================*/
.pagination {
	margin: 0 0 35px;
	text-align: center;
	display: block;
}

.pagination a {
	text-align: center;
	display: inline-block;
	color: #ffffff;
	background: #f4645f;
	border-radius: 2px;
}

.pagination a a:hover {
	background: #505050;
	text-decoration: none;
	color: #ffffff;
}

.sidebar .widget {
    padding: 21px 30px;
    border: 1px solid #cec0c0;
    border-radius: 4px;
}
/*===============widget======================*/
.widget {
	margin-bottom: 35px;
}

.widget hr {
	border-color: #d0cead; 
}

.widget table tr th .community a{
	text-decoration: none;
}

.widget table tr th .community a:HOVER{
	cursor: pointer;
}

.widget table tr th label{
	font-size: 15px;
    color: #807676;
    font-weight: 500;
    text-indent: 0.5em;
}

.widget table tr th p{
	font-size: 14px;
	color: #807676;
	font-weight: 500;
}

.widget table tr th .showimgs{
	padding-left: 115px;
    padding-top: 8.7%;
}
.widget table tr th .showimgs img{
    width: 88px;
	height: auto;
    padding: 3px;
    border-radius: 4px;
    background-color: #fff;
	border: 1px solid #e3dede
}
/*==================footer===================*/
.footer-above .row .list-inline li a {
	color: #28CC9E;
}

footer .footer-above {
    background-color: #1f2738;
}

.foot-wrap {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #1f2738;
	border-top: 1px solid #2a3345;
}

.row-content>h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	margin: 40px 0 30px 53px;
}

.row-content>ul li {
	list-style-type: none;
	font-size: 13px;
	line-height: 24px;
}

.row-content>ul li>a {
	color: #878B91; &: hover { text-decoration : none;
	color: #c1ba62;
}

}
/*==================================================*/
.foot {
    padding: 16px 0;
	color: #7e8187;
	font-size: 12px;
	background: #1f2738;
	border-top: 1px solid #2a3345;
}