@charset "utf-8";

* {
	margin: 0;
    padding: 0;
}

body{
	/* background: #ebebeb; */
	background:#323232 url("../img/personal_center.png") no-repeat;
}

#fslogo{
	height:25px;
    width: auto;
}

.container .navbar-header a {
	margin: 0px 0px 4.8px 50px;
}

section {
    padding: 60px 0px 0px 0px;
}

/*=====================资料设置==========================*/
#profile_set #editpwdForm h4{
	margin: 40px auto 80px auto;
}

#profile_set input[type="text"]#signature {
    border-radius: 8px;
	margin: 80px auto 80px auto;
    border: 1px solid #f3f3f3;
    color: #000;
    font-size: 16px;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    background: #fff;
    height: 44px;
}

#profile_set button[type="submit"] {
	padding: 10px 15px;
    background-color: #003ef8;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    border: none;
    color: #A9A9A9;
    font-weight:bolder;
    -webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	margin: 40px auto auto auto;
	box-shadow: inset 0 3px 10px rgba(242, 241, 246, 0.4);
}

#profile_set button[type="submit"]:hover {
	color: #fff;
	background-color: #0000FF;
	box-shadow: rgba(18, 14, 181, 0.7) 0 0 0.8em;
}
/*=====================密码修改===========================*/
.send-tips{
	color:#CC0000;
	font-size: 15px;
	visibility: hidden;
}

.modify-tips{
	color:#CC0000;
	font-size: 15px;
	visibility: hidden;
}

#validateEmail{
	margin-top: 200px;
}

#modifypwd{
	margin-top: 150px;
	display:none;
}


#pwd_set input[type="text"], input[type="password"] {
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto 10px auto;
    border: 1px solid #f3f3f3;
    color: #000;
    font-size: 16px;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    background: #fff;
    width: 250px;
    height: 44px;
}

#pwd_set input[type="text"]:focus, input[type="password"]:focus {
    background: #fff;
    border-color: #f3f3f3;
    outline: none;
    width: 300px;
}

#pwd_set button[type="submit"] {
	padding: 10px 15px;
    background-color: #003ef8;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    border: none;
    color: #A9A9A9;
    font-weight:bolder;
    -webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	box-shadow: inset 0 3px 10px rgba(242, 241, 246, 0.4);
}

#pwd_set button[type="submit"]:hover {
	color: #fff;
	background-color: #0000FF;
	box-shadow: rgba(18, 14, 181, 0.7) 0 0 0.8em;
}


/************************消息发布*************************/

select#users{
    border-radius: 8px;
    margin: 40px auto 40px auto;
    border: 1px solid #f3f3f3;
    color: #000;
    font-size: 16px;
    /* font-family: 'Cabin', helvetica, arial, sans-serif;
    font-weight: 400;
    display: block; */
    background: #fff;
    height: 44px;
    width: 250px;
}

#send-messages {
	visibility: hidden;
}

select#users option{
	/* width: 250px;
	text-align: center; */
}

/* select#users:focus{
	border: 1px solid #f3f3f3;
	border-radius: 8px;
} */

#send-messages input[type="text"] {
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto 40px auto;
    border: 1px solid #f3f3f3;
    color: #000;
    font-size: 16px;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    background: #fff;
    width: 250px;
}

#send-messages input[type="text"]:focus {
    background: #fff;
    border-color: #f3f3f3;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

textarea#messages-acontents{
	margin: 0 auto 80px auto;
	color: #000;
	text-indent:2em;
	font-size: 16px;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    background: #fff;
    border-color: #f3f3f3;
    outline:none;
    resize: none;
}

#send-messages button[type="submit"] {
	padding: 10px 15px;
    background-color: #003ef8;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    border: none;
    color: #A9A9A9;
    font-weight:bolder;
    -webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	box-shadow: inset 0 3px 10px rgba(242, 241, 246, 0.4);
}

#send-messages button[type="submit"]:hover {
	color: #fff;
	background-color: #0000FF;
	box-shadow: rgba(18, 14, 181, 0.7) 0 0 0.8em;
}

/*=================================内容发布=================================*/
#release input[type="text"]#titles {
    border-radius: 8px;
    margin: 6px auto 6px auto;
    border: 1px solid #f3f3f3;
    color: #000;
    font-size: 16px;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    background: #fff;
    width: 95%;
    height: 44px;
}

#release input[type="text"]#titles:focus {
    width: 100%;
    outline: none;
    background: #fff;
    border-color: #f3f3f3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}


.hero-unit {
	padding: 1px 20px;
}

#editor {
	max-height: 407px;
	height: 550px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}


#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

#release #releaseBtn {
	margin-left: 21%;
}

#release #releaseBtn button {
	color: #dcd6d6;
    font-size: 1px;
    border-color: #ff0000;
    background-color: #ff0000;
}

#release #releaseBtn button:HOVER {
	color: #fff;
	box-shadow: rgba(18, 14, 181, 0.7) 0 0 0.8em;
}