@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	color: #505050;
	line-height: 1.75em;
	background: #f5f5d5;
	position: relative;
}

#fslogo {
	height: 25px;
	width: auto;
}

/**======================================================*/
.post {
	padding: 35px;
	background: #f5f5d5;
	border-radius: 4px;
	box-shadow: 0px 0px 30px 5px #969191;
}

.post .post-head {
	text-align: center;
}

.post .post-head .post-title {
	margin: 0;
	color: #000;
	font-size: 2em;
	line-height: 1.2em;
	text-transform: none;
}

.post .post-head .post-meta {
	color: #959595;
	margin: 14px 0px;
}

.post .post-head .post-meta span a {
	color: #333333;
	text-decoration: none;
}

.post .featured-media {
	padding-left: 11%;
}

a:active, a:focus, a img {
	outline: none;
}

.post hr {
	border-color: #d0cead;
}

.main-content blockquote {
	padding: 0px;
	border-left: 0px solid #f5f5d5;
}

.post-content p {
	color: #2f2f2f;
	word-break: break-word;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	font-family: -apple-system, SF UI Text, Arial, PingFang SC,
		Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	text-indent: 2em;
	margin: 0;
}

.post-content img {
	width: 100%;
	height: auto;
	display: block;
	background-color: #fff;
	padding: 4px;
	border: 1px solid #ece8e8;
	border-radius: 4px;
	margin: 20px 0px;
}

.asset-footer {
	color: #666768;
	padding: 1.5em;
	border-radius: 9.5px;
	letter-spacing: 0.07em;
	border: 1px solid #d3d3d3;
	background-color: #DEEBF7;
	margin: 4em 0.5em -1.2em 0.5em;
}

.asset-footer span {
	font-size: 16px;
}

.asset-footer hr {
	border-color: #d0cead;
}

.asset-footer p {
	margin: 0px;
	font-size: 12px;
	font-weight: 400;
}

/*================foot===========================*/
.foot {
	padding: 16px 0;
	color: #000;
	font-size: 12px;
	background: #f5f5d5;
	border-top: 1px solid #d0cead;
}