@CHARSET "UTF-8";

* {
	margin: 0;
    padding: 0;
}

body {
	color: #505050;
	line-height: 1.75em;
	background: #ebebeb;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

#fslogo{
	height:25px;
    width: auto;
}


/**======================================================*/

.post {
    padding: 35px;
    background: #ffffff;
}

.post .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}
.post .post-head {
    text-align: center;
}
.post .post-head .post-title {
    margin: 0;
    font-size: 2em;
    line-height: 1.2em;
    color: #000;
}

.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0px;
}

.post .featured-media img {
    width: 100%;
    height: auto;
}

a:active, a:focus, a img {
    outline: none;
}

.post-content p {
	color: #2f2f2f;
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    text-indent: 2em;
    margin-top: 0;
    margin-bottom: 1.46em;
}


/* ::selection {
	color: #ffffff;
	background: #f4645f;
	text-shadow: none;
} */