@CHARSET "UTF-8";

body {
	color: #000;
	font-family: Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
}


/*=================================*/



.explains-field-title{
	margin: 0xp 10px;
    border: 1px solid #e2e2e2;
    padding: 14px 12px;
}

.explains-field-title span{
	font-size:20px;
}
.explains-field-title p{
	font-size: 14px;
	line-height: 24px;
}